<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="panning.css">
 <link rel="stylesheet" type="text/css" href="G:\\Romu\\3rd Year\\6th Sem\\Self Study\\FlaskTest\\node_modules\\chart.js\\dist\\Chart.min.css">
    <script src="G:\\Romu\\3rd Year\\6th Sem\\Self Study\\FlaskTest\\node_modules\\chart.js\\dist\\Chart.js"></script>

</head>
<body>
<div style="width:75%;">
		<button onclick="resetZoom()">Reset Zoom</button>
		<canvas id="canvas">
        </canvas>
</div>
<script type="text/javascript" src = "panning.js">
</script>
</body>
</html>